@font-face {
    font-family: SaucerBB;
    src: url(../fonts/SaucerBB.ttf);
}
/*lazy general reset*/
* {padding: 0; margin: 0;}
body {
  font-family: 'Raleway', sans-serif;
  background-color: #eeeeee;
  color: #777777;
}
header, main, nav, #home {width: 100%;max-width: 100%;}

.logo {height: 50px; width:auto;}
.navbar {border-style: none !important;
  width: 100%;
  height: 50px;
  padding:0;margin:0;
  background-color: #3dbcf3;
  font-family: 'SaucerBB';
}
.navbar-brand {color: #fff;}
.navbar-brand:hover {color: #fafaca;}
.nav-parent{
    width: 100%; height: 100%; padding: 0 !important;
    position: relative;
    /*border-left: 1px solid grey;*/
}

.nav-link {width: 100%; height:100%; padding:0; text-align: center;
           text-decoration:none;
           color: #3dbcf3;
           font-size: 2rem;
          }
.nav-link:hover {color:#3dbcf3;background-color: #fafaca;}

section p {font-size: 1.5rem;}
h2, .beautiful-font {
    font-family: 'SaucerBB';
}

a:focus {text-decoration: none;}

.sock {
  width: 150px;
  display: block;
  margin: 0 auto;
  margin-bottom: 2%;
}
.bg-banner {
    background-image: url('../images/station-bg.png');
    background-repeat: repeat;
}
.border-rails {
    border: 60px solid transparent;
    border-image: url('../images/rails-border.png') 30 round;
    border-image-width: 60px;
    border-image-slice: 30% 30%;
}
.owl-prev, .owl-next {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: 0.3s linear all;
    -moz-transition: 0.3s linear all;
    -ms-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    transition: 0.3s linear all;
    background-color: #f4576c;
    border-radius: 50%;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 50px;
    height: 60px;
    left: 0;
    line-height: 60px;
    opacity: 0.77;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 60px;
}

.owl-prev:hover, .owl-next:hover {
    -webkit-transition: 0.3s linear all;
    -moz-transition: 0.3s linear all;
    -ms-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    transition: 0.3s linear all;
    opacity: 1;
}

.owl-next {
    left: auto;
    right: 0;
}

.button {
    background-color: #f4576c;
  border-radius: 50px;
  border: none;
  -webkit-box-shadow: 0px 6px 0px 0px #3dbcf3;
  -moz-box-shadow:    0px 6px 0px 0px #3dbcf3;
  -ms-box-shadow:     0px 6px 0px 0px #3dbcf3;
  -o-box-shadow:      0px 6px 0px 0px #3dbcf3;
  box-shadow:         0px 6px 0px 0px #3dbcf3;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.7;
  padding: 13px 70px;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -ms-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;

}
.button:hover, .button:focus {
    background-color: #3dbcf3;
  outline: 0;
  text-decoration: none;
  -webkit-box-shadow: 0px 6px 0px 0px #f4576c;
  -moz-box-shadow:    0px 6px 0px 0px #f4576c;
  -ms-box-shadow:     0px 6px 0px 0px #f4576c;
  -o-box-shadow:      0px 6px 0px 0px #f4576c;
  box-shadow:         0px 6px 0px 0px #f4576c;
  color: #ffffff;
}
.button:focus {
    -webkit-box-shadow: 0px 2px 0px 0px #3dbcf3;
    -moz-box-shadow:    0px 2px 0px 0px #3dbcf3;
    -ms-box-shadow:     0px 2px 0px 0px #3dbcf3;
    -o-box-shadow:      0px 2px 0px 0px #3dbcf3;
    box-shadow:         0px 2px 0px 0px #3dbcf3;
}

.white-border {border: 4px solid #ffffff; border-radius:5%;}
.giant {font-size:7em}
.section {
  padding: 8% 0;
}
.section__heading {
    color: #3dbcf3;
  font-size: 2rem;
  margin-bottom: 0;
}

.section-text {
    color: white;
    font-size: 1.5rem;
    border-radius: 5%;
    padding: 1% 2%; margin: 2% 0;
}
.section-text p {
    padding: 2%;
}

.top-banner {
    background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 100%;
  color: #3dbcf3;
  max-width: 100%;
  padding: 8% 0 10% 0;
  position: relative;
  z-index: 1;
}
.top-banner img { max-width: 300px;}
.top-banner h2 {
  font-size: 3rem;
  line-height: 3rem;
  margin: 0;
}
.top-banner h1 {
  font-size: 7rem;
  font-weight: bold;
  line-height: 2em;
  margin: 0;
}
.top-banner p {
  font-size: 1.5rem;
  margin: 0;
  line-height: 1.2em;
  font-weight: 500;
}
.about, #authors {
  background-size: 100%;
  background-repeat: repeat;
  padding-bottom: 0;}
.about__column {
    width:100%;
    border-radius: 1%;
  -webkit-box-shadow: 2px 4px 27px rgba(244, 87, 108, 0.2);
  -moz-box-shadow:    2px 4px 27px rgba(244, 87, 108, 0.2);
  -ms-box-shadow:     2px 4px 27px rgba(244, 87, 108, 0.2);
  -o-box-shadow:      2px 4px 27px rgba(244, 87, 108, 0.2);
  box-shadow:         2px 4px 27px rgba(244, 87, 108, 0.2);
  padding: 40px 0;
  background-color: #ffffff;
}
.about__column h3 {
  font-size: 3rem;
  color: #3dbcf3;
  margin: 2% 0 0 0;
}
.about__column p {
  font-size: 1.7rem;
  color: #3dbcf3;
  margin: 2% 0;
}

.dark-bg {
  background-size: 100%;
  background-repeat: repeat;
  background-color: #3dbcf3;
  color: #ffffff;
  padding-bottom: 2%;
  position: relative;
  z-index: 1;
}
.dark-bg .section__heading{color: #ffffff;}
.light-bg {
    background-size: 100%;
    background-repeat: repeat;
    background-color: #fff;
    color: #3dbcf3;
    padding-bottom: 2%;
    position: relative;
    z-index: 1;
}

.section-general figure {
  overflow: hidden;
  position: relative;
}
.section-general figure:hover .section-general__content {
  bottom: 0;
  opacity: 1;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -ms-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
  visibility: visible;
}
.section-general figure img {
  width: auto !important;
  margin: 0 auto;
  display: block;
}
.section-general__content {
  background-color: #fff;
  bottom: -200px;
  color: #000;
  left: 0;
  opacity: 0;
  padding: 20px 10px;
  position: absolute;
  right: 0;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -ms-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
  visibility: hidden;
}
.section-general__content h3 {
  font-size: 22px;
  font-weight: bold;
  line-height: 22px;
  margin: 0;
  text-transform: capitalize;
}
.section-general__content p {
    color: #1840ad;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  margin: 25px 0;
}
.section-general__content .button {
  font-size: 16px;
  padding: 9px 40px;
}
.issue .button {font-size:1rem; padding:0.5rem;}
.contact-us {
  background-color: #ffffff;
}
.contact-us .form-control {
  background-color: transparent;
  border: 1px solid #dddddd;
  color: #777777;
  padding: 16px 20px;
  border-radius: 40px;
  font-size: 14px;
}
.contact-us .form-control:focus {
  box-shadow: none;
}
.contact-us__address-text {
  font-weight: normal;
}
.contact-us__column ul li {
  margin-top: 4px;
  font-weight: bold;
}
.contact-us__column figure {
  width: 64px;
}
.contact-us__column ul {
  width: calc(100% - 84px);
  margin-left: 20px;
}
.contact-us ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #777777;
  opacity: 1;
  /* Firefox */
}
.contact-us :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #777777;
}
.contact-us ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #777777;
}
.contact-us__social-list li a {
  border-radius: 50%;
  border: 2px solid #3dbcf3;
  color: #3dbcf3;
  display: inline-block;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -ms-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
  width: 50px;
}
.contact-us__social-list li a:hover {
    background-color: #f4576c;
    border: 2px solid #f4576c;
  color: #ffffff;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -ms-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

.footer {background-color: #3dbcf3; color: #ffffff;}
.mind-the-gap{
    background: linear-gradient(to bottom
        , #978e8f
        , #978e8f 25%
        , #7a7777 25%
        , #7a7777 35%
        , #978e8f 35%
        , #978e8f
        );
    background-size: 100% 15px;
    color: yellow;
    font-size: 5rem;
}
.mind-the-gap .yellow-bg {
    background-color: yellow;
    height: 20px;
    width: 100%;
    bottom:0;
}
.mind {padding:30px 0;}
.footer .row {padding-top: 20px;}
.footer a, .section-text a{
    color: #733a76;
}
.footer a:hover, .section-text a:hover{
  text-decoration: none;
  color: #ffffff;
}

.control-points-section {
  position: fixed;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 999;
}
.control-points-section ul li {
  position: relative;
}
.control-points-section ul li a:after {
  border-radius: 50%;
  background-image: url('../images/station-red.png');
  background-position: center;
  background-size:  25px auto;/* cover;*/
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
}

.control-points-section ul li:nth-child(2) a:after {
    background-image: url('../images/station-yellow.png');
}
.control-points-section ul li:nth-child(3) a:after {
    background-image: url('../images/station-green.png');
}
.control-points-section ul li:nth-child(4) a:after {
    background-image: url('../images/station-pink.png');
}
.control-points-section ul li:nth-child(5) a:after {
    background-image: url('../images/station-purple.png');
}
.control-points-section ul li:nth-child(6) a:after {
    background-image: url('../images/station-orange.png');
}

.control-points-section ul li a:focus, .control-points-section ul li a:hover {
  outline: 0; text-decoration: none;
  background-image: none;
}
.control-points-section ul li span {
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -ms-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
  background-color: #f4576c;
  border-radius: 40px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  min-width: 110px;
  opacity: 0;
  padding: 2px;
  position: absolute;
  right: -120px;
  text-align: center;
  visibility: hidden;
}
.control-points-section ul li:hover span {
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -ms-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
  opacity: 1;
  right: 27px;
  visibility: visible;
}

.train-all-container {
    position: absolute;
    left:0; right:0;
    width: 100%;
    margin: 30px auto;
    overflow: hidden;
    z-index: -5;
}
/*border-box stuff*/
.train-all-container {
  box-sizing: border-box;
}
.train-all-container *, .train-all-container *:before, .train-all-container *:after {
  box-sizing: inherit;
}

.train {
  width: 1510px;
  animation: move 8s -1.5s linear infinite forwards;
}

@keyframes move {
  0% {transform: translateX(1450px);}
  100% { transform: translateX(-1450px); }
}

.train-car {
  display: inline-block;
  vertical-align: top;
  height: 70px;
  width: 255px;
  border: 1px solid #71656a;
  border-top: 2px solid #978a8e;
  border-bottom: 5px solid #3dbcf3;
  background: #bfbbbc;
  border-radius: 11px;
  padding-top: 18px;
  padding-left: 18px;
}
.head-car{background: #3dbcf3;}
.head-car,
.end-car{
  width: 210px;
  border-left: 2px solid #978a8e;
  border-top-left-radius: 200px;
  padding-left: 25px;
}

.end-car {
  border-top-left-radius: 11px;
  border-top-right-radius: 200px;
  padding-left: 10px;
  padding-right: 25px;
  background: #df5a5f;
}

.windows,
.door {
  display: inline-block;
}

.windows {
  width: 80px;
  height: 50px;
}

.head-car .windows,
.end-car .windows{
  width: 130px;
}

.w-left,
.w-right,
.head-car-window,
.end-car-window{
  display: inline-block;
  width: 37px;
  height: 26px;
  border-radius: 2px;
  background: #3d392f;
/*   vertical-align: top; */
}

.head-car-window,
.end-car-window{
  width: 25px;
  border-top-left-radius: 25px;
  margin-right: 15px;
  position: relative;
}

.end-car-window {
  border-top-left-radius: inherit;
  border-top-right-radius: 25px;
  margin-left: 15px;
  margin-right: 0;
}

.head-car-window:after,
.end-car-window:after{
  content: '';
  display: block;
  width: 5px;
  height: 26px;
  background: #554b50;

  position: absolute;
  right: -12px;
}

.end-car-window:after {
  left: -12px;
}

.door {
  background: #df5a5f;
  width: 25px;
  height: 50px;
  padding: 4px 5px 0;
  vertical-align: top;
  margin: 0 5px;
}
.d-left,.d-right {margin:0;}
.d-left {right:0;}
.d-right {left:0;}

.end-car .door {
  background: #3dbcf3;
  margin: 0 6px;
}

.door:before{
  content: '';
  display: block;
  width: 15px;
  height: 20px;
  background: #53494f;
}

.train-track {
  position: relative;
  background: #918a8b;
  width: 100%;
  height: 10px;
  border-bottom: 3px solid #392e34;
}
.door-left, .door-right {
    margin:0;
    position: absolute;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3;
}
.door-left {left: 50%;}
.door-right{right: 50%;}
.nav-parent:hover .door-left {left: 0;}
.nav-parent:hover .door-right{right: 0;}

#escalator {
    display: block;
    width:30%;
    height:100%;
    margin:0;
    position: relative;
    left: 70%;
    top: -100%;
    bottom: -100%;
}
#escalator svg {flex: 1;}
@keyframes ascend {
    0% {transform: translate(-1px, 1px);}
    100% {transform: translate(0px, 0px);}
}
